
@model IEnumerable<SachOnline.Models.GioHang> 

<a href="@Url.Action("GioHang","GioHang")"
   style="color:white; font-weight:bold; text-decoration:none;">
    <img src="~/Images/GioHang.png" style="width:35px; height:35px"/>
    Giỏ hàng (@ViewBag.TongSoLuong)
</a>


